page-home {
   text-align: center;
   align-items: center;

    .bigwrap{
<<<<<<< HEAD
        margin: 0;
        padding: 0;

        margin-top: 50px;
        text-align: center;
       
=======
        margin-top: 50px;   
        text-align: center;
>>>>>>> 3be6f26f498537a48c25398ee9012ed64e7fd8e0
    }

    .wrap{
        padding: 10px; 
        text-align: center;
    }

    img{
        width: 200px;
        text-align: center;
    }

}
